@font-face {
  font-family: 'pixelfont';
  src: url('../fonts/chunkydunk-webfont.woff2') format('woff2'), url('../fonts/chunkydunk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pixelfontoutline';
  src: url('../fonts/chunkydunkoutlin-webfont.woff2') format('woff2'), url('../fonts/chunkydunkoutlin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gothic A1', sans-serif;
  color: black;
}

body a {
  text-decoration: underline;
  color: black;
  text-decoration-color: red;
  text-decoration-style: dotted;
}

body a:hover {
  text-decoration-color: black;
  text-decoration-style: solid;
  color: red;
}

.pixel-font {
  font-family: 'pixelfont', 'Gothic A1', sans-serif;
}

.title-pixel-font {
  font-family: 'pixelfontoutline', 'Gothic A1', sans-serif;
}

/* .siimple-input, .siimple-select { */

/* padding-left: 0; */

/* padding-right: 0; */

/* } */

.navigation {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  height: 24px;
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  /* margin-right: 5rem; */
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color: red;
}

.navigation a, .navigation a:hover {
  text-decoration: none;
}

.navigation-container {
  margin: 0 auto;
  max-width: 130.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.form-field-helper {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  min-height: 4rem;
}

th {
  font-weight: 300
}

.siimple-spinner {
  width: 10px;
  height: 10px;
  content: "";
  -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
  animation: siimple_spinner_animation 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* border-radius: 100px; */
  display: block;
  text-indent: -9999em;
  font-size: 10px;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: .33s;
  animation-delay: .33s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0
}

@-webkit-keyframes siimple_spinner_animation {
  50% {
    background-color: transparent
  }
}

@keyframes siimple_spinner_animation {
  50% {
    background-color: transparent
  }
}

.siimple-spinner:before {
  width: 10px;
  height: 10px;
  content: "";
  -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
  animation: siimple_spinner_animation 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* border-radius: 100px; */
  position: absolute;
  left: calc(15px * -1);
  top: 0
}

.siimple-spinner:after {
  width: 10px;
  height: 10px;
  content: "";
  -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
  animation: siimple_spinner_animation 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* border-radius: 100px; */
  -webkit-animation-delay: .66s;
  animation-delay: .66s;
  position: absolute;
  left: 15px;
  top: 0
}

.siimple-spinner.siimple-spinner--black, .siimple-spinner.siimple-spinner--black:after, .siimple-spinner.siimple-spinner--black:before {
  background-color: #000
}

thead tr th {
  font-weight: 500;
  cursor: pointer;
}

th {
  min-width: 12rem;
}

tbody tr:hover {
  background-color: #f7f7f7;
}

tr:nth-child(even) {
  background-color: #fbfbfb
}

.anchor {
  display: block;
  position: relative;
  top: -4rem;
  visibility: hidden;
}

.top-padding {
  padding-top: 4rem;
}

.disable-sort {
  color: #bbb;
}

.th i {
  padding-left: 0.5rem;
}

table {
  margin-bottom: 0;
  table-layout: fixed;
}

.thead {
  /* display: table-header-group; */
  vertical-align: middle;
  border-color: inherit;
}

.td:first-child, .th:first-child {
  padding-left: 0;
}

.thead .tr .th {
  font-weight: 500;
  background-color: white;
  white-space: nowrap;
}

.sortable {
  cursor: pointer;
}

.th, th, td {
  width: 20%;
}

.th {
  font-weight: 300;
  display: inline-block;
}

.td, .th {
  padding: 1.2rem 1.5rem;
  text-align: left;
}

.tr {
  border-bottom: 1px dotted black;
      border-bottom: 1px solid red;
}

td {
      border-bottom: 1px solid #cecece;
}

.profiles i {
  padding: 0.2rem;
  font-size: 2.25rem;
}

.keywords {
  font-size: 1.25rem;
}

#table td div {
  min-height: 10rem;
  overflow: hidden;
}

.first-name, .surname, .location {
    font-size: 1.6rem;
}
