@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

@font-face {
    font-family: 'pixelfont';
    /* src: url('../fonts/chunkydunk-webfont.woff2') format('woff2'), */
         url('../fonts/chunkydunk-webfont.woff') format('woff');
    src: url('../fonts/chunkydunk-webfont.woff2') format('woff2'),
         url('../fonts/chunkydunk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelfontoutline';
    src: url('../fonts/chunkydunkoutlin-webfont.woff2') format('woff2'),
         url('../fonts/chunkydunkoutlin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Gothic A1', sans-serif;
  color: black;
}

body a {
  text-decoration: underline;
  color: black;
  text-decoration-color: red;
  text-decoration-style: dotted;
}

body a:hover{
  text-decoration-color: black;
  text-decoration-style: solid;
  color: red;

}
.siimple-navbar a:hover {
  text-decoration: none;

}
.pixel-font
{
  font-family: 'pixelfont', 'Gothic A1', sans-serif;
}

.title-pixel-font
{
  font-family: 'pixelfontoutline', 'Gothic A1', sans-serif;
}

/* .siimple-input, .siimple-select { */
    /* padding-left: 0; */
    /* padding-right: 0; */
  /* } */
