---
layout: default
permalink: test
---

<div class="siimple-navbar">
  <div class="siimple-layout--left">
    <a class="siimple-navbar-title title-pixel-font">compcog.science</a>
  </div>
  <div class="siimple-layout--right">
    <a class="siimple-navbar-link pixel-font" href='{{site.baseurl}}#add'>+ add</a>
    <a class="siimple-navbar-link pixel-font">? about</a>
  </div>
</div>

<div class="siimple-content siimple-size siimple-content--large">

  <div class="siimple-grid">

{% include form.html %}

{% include table.html %}

  </div>

</div>
<div class="siimple-footer pixel-font" align="center">
  2018 <a href="//oliviaguest.com">Olivia Guest</a> & <a href="https://sites.google.com/site/chbergma/">Christina Bergmann</a>
</div>
