<div class="siimple-grid-row">

  <div class="siimple-form">
    <div class="siimple-grid-col siimple-grid-col--12">
      <h1 class="pixel-font" id='add'>Add to the List</h1>

      <div class="siimple-form-detail">Please fill in the form below to add somebody to the list.</div>
    </div>
    <!-- <div class="siimple-form-title">Send a comment</div> -->
    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-xl--12">

      <div class="siimple-form-field">
        <label class="siimple-label">Surname:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Required.</div>

      </div>

      <div class="siimple-form-field">
        <label class="siimple-label">First Name:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Required; do not include title; optionally include middle initials.</div>

      </div>

      <div class="siimple-form-field">
        <label class="siimple-label">Location:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Required; city, country; or just country.</div>

      </div>
    </div>
    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-xl--12">



      <div class="siimple-form-field">
        <label class="siimple-label">Keywords:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Required; minimum of two; comma separated.</div>

      </div>

      <div class="siimple-form-field">
        <label class="siimple-label">Website:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Required; personal or institutional profile URL.</div>

      </div>

      <div class="siimple-form-field">
        <label class="siimple-label">Google Scholar:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Optional, but useful.</div>

      </div>


    </div>
    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-xl--12">

      <div class="siimple-form-field">
        <label class="siimple-label">GitHub:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Optional, but useful.</div>

      </div>

      <div class="siimple-form-field">
        <label class="siimple-label">Twitter:</label><br>
        <input type="text" class="siimple-input" placeholder="">
        <div class="siimple-form-field-helper">Optional, but useful.</div>

      </div>

        <div class="siimple-form-field">
          <label class="siimple-label">ORCID:</label><br>
          <input type="text" class="siimple-input" placeholder="">
          <div class="siimple-form-field-helper">Optional, but useful.</div>

        </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue">Submit</div>
      </div>

    </div>


  </div>
</div>
