
  <form>
    <fieldset>

      <div class="row">
  <div class="column">
    <a class="anchor" id="add"></a>

    <h2 class="pixel-font">Add to the List</h2>
    <p>Please fill in the form below to add somebody to the list.</p>
  </div>
</div>

      <div class="row">


    <!-- <div class="siimple-form-title">Send a comment</div> -->
    <div class="column">

        <label for="firstName">First Name:</label>
            <input type="text" placeholder="" id="firstName">
            <div class="form-field-helper">Required; do not include title; optionally include middle initials.</div>
        <label for="surname">Surname:</label>
            <input type="text" placeholder="" id="surname">
        <div class="form-field-helper">Required.</div>
        <label for="location">Location:</label>
            <input type="text" placeholder="" id="location">
        <div class="form-field-helper">Required; city, country; or just country.</div>
    </div>
    <div class="column">
      <label for="keywords">Keywords:</label>
          <input type="text" placeholder="" id="keywords">
      <div class="form-field-helper">Required; minimum of two; comma separated.</div>

      <label for="website">Website:</label>
          <input type="text" placeholder="" id="website">
          <div class="form-field-helper">Required; personal or institutional profile URL.</div>

      <label for="scholar">Google Scholar:</label>
          <input type="text" placeholder="" id="scholar">
          <div class="form-field-helper">Optional, but useful.</div>



    </div>
    <div class="column">


      <label for="github">GitHub:</label>
      <input type="text" placeholder="" id="github">
      <div class="form-field-helper">Optional, but useful.</div>


            <label for="twitter">Twitter:</label>
            <input type="text" placeholder="" id="twitter">
            <div class="form-field-helper">Optional, but useful.</div>


                  <label for="orcid">ORCiD:</label>
                  <input type="text" placeholder="" id="orcid">
                  <div class="form-field-helper">Optional, but useful.</div>

                  <input class="button-primary float-right pixel-font" type="submit" value="Submit">

    </div>
  </div>

  </fieldset>

  </form>
