<div class="row">
  <div class="column">
    <a class="anchor" id="welcome"></a>
    <h2 class="pixel-font">Welcome</h2>
    <p>This is a short and sweet website for viewing and adding to a list of minority computational cognitive modellers/scientists.
      
      Minority means any and more of LGBTIQA+ people, women and gender minorities, ethnic minorities, disabled people, neurodiverse people — membership to any of these groups implies one is welcome on this list. 
      If you identify as a minority in computational cognitive science, we would love to have your name inculded on this list.
      
      If this list is what you were looking for, you have come to the right place!</p>
  </div>
</div>
