<div class="row">
  <div class="column">
    <a class="anchor" id="welcome"></a>
    <h2 class="pixel-font">Welcome</h2>
    <p>This is a short and sweet website for viewing and adding to a crowdsourced list of minoritised computational cognitive modellers/scientists. If you identify as minoritised in any way and do research in computational cognitive science, we would love to have your name included on this list.

      If this list is what you were looking for, you have come to the right place!</p>
  </div>
</div>
